<footer class="footer">
  <!-- This should be `0 items left` by default -->
  <span class="todo-count"
    ><strong>{{ pendingTasks }} </strong>
    <span *ngIf="pendingTasks === 1">item</span>
    <span *ngIf="pendingTasks !== 1">items</span> left</span
  >
  <!-- Remove this if you don't implement routing -->
  <ul class="filters">
    <li>
      <a routerLink="/" [class.selected]="filter === 'all'">All</a>
    </li>
    <li>
      <a routerLink="/pending" [class.selected]="filter === 'pending'"
        >Pending</a
      >
    </li>
    <li>
      <a routerLink="/completed" [class.selected]="filter === 'completed'"
        >Completed</a
      >
    </li>
  </ul>
  <!-- Hidden if no completed items are left ↓ -->
  <button
    class="clear-completed"
    (click)="clearCompleted()"
    *ngIf="pendingTasks < tasks.length"
  >
    Clear completed
  </button>
</footer>
